@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font: 400 22px/1.3 Roboto, sans-serif;
  color: #cfcfcf;
  background: #090808;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

a {
  color: #f3f3f3;
  text-decoration: none;
}

a:hover {
  color: #01819d;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1250px;
}

/* Typography */
a,
input[type='submit'],
input[type='button'],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type='submit'],
input[type='button'],
button,
.ba-button {
  display: inline-block;
}
input[type='submit']:hover,
input[type='button']:hover,
button:hover,
.ba-button:hover {
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='tel']:focus,
textarea:focus,
select:focus {
}
textarea {
}

.ba-header {
  border-bottom: 0.5px solid rgba(243, 243, 243, 0.6);
  padding: 2px 0 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ba-header__inner {
  display: flex;
  justify-content: flex-end;
}

.ba-header__nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ba-header__item {
  padding-left: 54px;
}

.ba-header__link {
  text-transform: uppercase;
  font-size: 14px;
}

.ba-button {
  border: 2px solid #01819d;
  border-radius: 149px;
  padding: 10px 56px;
}

.ba-button:hover,
.ba-button--filled {
  background: #01819d;
  color: #f3f3f3;
}

.ba-button--filled:hover {
  background: transparent;
}

.ba-hero__buttons .ba-button--filled {
  margin-right: 36px;
}

.ba-hero__title {
  font-size: 60px;
}

.ba-hero {
  background: radial-gradient(
      51.22% 51.22% at 54.2% 48.78%,
      rgba(0, 0, 0, 0.9) 26.86%,
      rgba(0, 0, 0, 0.9) 36.27%,
      rgba(0, 0, 0, 0.9) 51.04%,
      rgba(35, 34, 34, 0.39) 100%
    ),
    url(../img/bg_hero.svg) no-repeat top;

  min-height: 80vh;
  padding: 217px 0 256px;
}

.ba-hero__description {
  margin: 0 0 36px;
}

.ba-hero__img {
  position: relative;
}

.ba-hero__img:after {
  position: absolute;
  bottom: -50px;
  left: 0;
  content: '';
  width: 100%;
  height: 15%;
  background: url(../img/bottom_shedow.svg) no-repeat;
}

@media screen and (min-width: 1024px) {
  .ba-hero__title,
  .ba-hero__description,
  .ba-hero__buttons {
    padding-left: 165px;
  }

  .ba-hero__title {
    padding-right: 170px;
  }

  .ba-hero__description {
    padding-right: 150px;
  }
}
